<ion-header>
  <ion-toolbar>
    <ion-title>
      Manutenção
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Profissinal</ion-label>
    </ion-list-header>
    <ion-item href="../professional-delete">
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-label>Deletar</ion-label>
    </ion-item>
    <ion-item href="../professional-editar">
      <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-item>
    <ion-item href="../professional-inserir">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>Inserir</ion-label>
    </ion-item>
    <ion-item href="../professional-list">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-item>
    
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Clientes</ion-label>
    </ion-list-header>
    <ion-item href="../cliente-login">
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-item>
    <ion-item href="../cliente-delete">
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-label>Deletar</ion-label>
    </ion-item>
    <ion-item href="../cliente-editar">
      <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-item>
    <ion-item href="../cliente-inserir">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>Inserir</ion-label>
    </ion-item>
    <ion-item href="../cliente-list">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
